/* Estilo básico para a aplicação */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  font-family: Arial, sans-serif;
}

.calculadora{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px
  
 }

 
.container {
 gap: 30px;

}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo para inputs */
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="number"].no-spin::-webkit-outer-spin-button,
input[type="number"].no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].no-spin {
  -moz-appearance: textfield;
}

h1{
  font-size: 24px;
}
/* Estilo para o botão */
button {
  padding: 10px;
  background-color: #8200ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #8400ffce;
  border-: transparent;
}

/* Estilo para o resultado */
.result {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
  padding: 15px 50px;
  background-color: #8200ff;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
}

.copy-message {
  margin-top: 10px;
  padding: 10px 50px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.5s ease-out;
  width: 100%;
}

.results-messages{
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:15px;
width: 100%;
 
}